<div class="row" ng-show="show">
    <div class="col-md-12">
        <div id="flightWidget" class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">
                  <i class="fa fa-lg fa-plane"></i> Recommended Flight
                  <span class="pull-right" ng-hide="done">
                     <em>Searching</em> <i class="fa fa-lg fa-spinner fa-spin"></i>
                  </span>
                </h1>
            </div>
            <div class="panel-body" ng-show="done && data.response.length !== 0">
                <h5 class="text-center"><strong>Departure Flight <br /> {{ data.request.departDate }}</strong></h5>
                <flight-view
                           airline-name="{{ data.response.rec_flight.departure.airline_name }}"
                           flight-info="data.response.rec_flight.departure.flight_info"
                           facilities="data.response.rec_flight.departure.facilities"
                           price="data.response.rec_flight.departure.price">
                </flight-view>
                <br />
                <h5 class="text-center" ng-show="data.request.type == 'RT'"><strong>Return Flight <br /> {{ data.request.returnDate }}</strong></h5>
                <flight-view
                           ng-show="data.request.type == 'RT'"
                           airline-name="{{ data.response.rec_flight.return.airline_name }}"
                           flight-info="data.response.rec_flight.return.flight_info"
                           facilities="data.response.rec_flight.return.facilities"
                           price="data.response.rec_flight.return.price">
                </flight-view>
            </div>

            <div ng-show="allFlights === true">
              <hr />
              <h4 class="text-center"><strong>All Flights</strong></h4>

              <h5 class="text-center"><strong>Departure Flights</strong></h5>

              <div ng-repeat="flight in data.response.all_flights.departure">
                <flight-view
                           airline-name="{{ flight.airline_name }}"
                           flight-info="flight.flight_info"
                           facilities="flight.facilities"
                           price="flight.price">
                </flight-view>
              </div>

              <h5 class="text-center"><strong>Return Flights</strong></h5>
              <div ng-repeat="flight in data.response.all_flights.return" ng-if="data.response.all_flights.return.length > 0">
                <flight-view
                           airline-name="{{ flight.airline_name }}"
                           flight-info="flight.flight_info"
                           facilities="flight.facilities"
                           price="flight.price">
                </flight-view>
              </div>
            </div>

            <div class="panel-footer" style="text-align:center" ng-show="done && data.response.length !== 0">
                <a class="btn btn-link" ng-click="showAllFlights()">Show All Flights <i class="fa fa-chevron-down"></i></a>
            </div>

            <div class="panel-body" ng-show="done && data.response.length === 0">
                <div class="text-center">
                  <i class="fa fa-5x fa-frown-o"></i>
                  <br />
                  <br />
                  <p class="lead">Sorry, but we cannot find a suitable flight for you at this moment. Please try again in a few minutes.</p>
                </div>
            </div>
        </div>
    </div>
</div>